//font attach
@font-face {
    font-family: "JosefinSans-Light";
    src: url("../fonts/JosefinSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "JosefinSans-Medium";
    src: url("../fonts/JosefinSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "JosefinSans-MediumItalic";
    src: url("../fonts/JosefinSans-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "JosefinSans-Regular";
    src: url("../fonts/JosefinSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "JosefinSans-Thin";
    src: url("../fonts/JosefinSans-Thin.ttf") format("truetype");
}

@import "./consts/main.scss";
@import "./mixins/main.scss";
@import "./base/main.scss";
// component styles
@import "../../Components/Landing/Index.scss";